{% extends "kitchen/base.html" %}

{% block content %}
    <h1>Category: {{ dish_type.name }}</h1>

    <h3>Dishes in this category:</h3>
    {% if dish_type.dishes.all %}
        <ul>
            {% for dish in dish_type.dishes.all %}
                <li>
                    <a href="{% url 'kitchen:dish-detail' pk=dish.id %}">
                        {{ dish.name }}
                    </a> 
                    — ${{ dish.price }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No dishes in this category yet.</p>
    {% endif %}

    <p><a href="{% url 'kitchen:dish-type-list' %}">Back to list</a></p>
{% endblock %}
