{% extends "kitchen/base.html" %}

{% block content %}
    <h1>Dish Types</h1>

    <form method="get" action="">
        {{ search_form }}
        <input type="submit" value="Search">
    </form>
    <br>

    {% if dish_type_list %}
        <ul>
            {% for dish_type in dish_type_list %}
                <li>
                    <a href="{% url 'kitchen:dish-type-detail' pk=dish_type.id %}">
                        {{ dish_type.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No categories found matching your criteria.</p>
    {% endif %}
{% endblock %}
