{% extends "kitchen/base.html" %}

{% block content %}
    <h1>Kitchen Service Home</h1>
    <p>Welcome to our restaurant management system!</p>

    <ul>
        <li>
            <a href="{% url 'kitchen:cook-list' %}">
                <strong>Cooks:</strong> {{ num_cooks }}
            </a>
        </li>
        <li>
            <a href="{% url 'kitchen:dish-list' %}">
                <strong>Dishes:</strong> {{ num_dishes }}
            </a>
        </li>
        <li>
            <a href="{% url 'kitchen:dish-type-list' %}">
                <strong>Dish Types:</strong> {{ num_dish_types }}
            </a>
        </li>
    </ul>
{% endblock %}
